body#Homepage{
  min-height: 100vh; 
  background: #0096C9;
  
}

.Homepage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  
  }

.xavier_photo{
  width: 50%;
  height: 50%;
  }

 .content1{
  color: white;
  background-color: #001E60;
  padding: 1%;
  width: 50%;
  height: 20%;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  }


  .content2{
    color: white;
    background-color: #001E60;
    padding: 2mm;
    min-width: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    }

  .content3{
    position: absolute;
    color: white;
    background-color: #001E60;
    padding: 1%;
    width: 50%;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    }

  .Button1 {
    border: 20px #001E60;;
    background-color: #001E60;
    border-radius: 20px;
    border-width: 20px;
    margin-top: 2mm;
    margin-right: 2mm;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    padding: 1%;

  }

  .Button2 {
    position: absolute;
    border: 20px #001E60;
    background-color: #001E60;
    border-radius: 20px;
    border-width: 20px;
    width: auto;
    font-size: 20px;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 1%;
  }

  .Button3 {
    border: 20px #001E60;;
    background-color: #001E60;
    border-radius: 20px;
    border-width: 20px;
    width: auto; 
    margin-top: 2mm;
    font-size: 20px;
    cursor: pointer;
    padding: 1%;
  }

  .CommunityALI{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background: #0096C9;
  }

  