@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body#Homepage{
  min-height: 100vh; 
  background: black;
  
}

.Homepage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
  }

.xavier_photo{
  width: 162mm;
  margin: 1%;
  border-radius: 1%;
  }

 .content1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  background-color: #E0115F;
  border-radius: 1%;
  padding: 1%;
  margin: 1%;
  max-width: 321mm;
  height: auto;
  font-family: 'Cinzel Decorative', cursive;
  font-size: x-large;
  }

  .Code_languages{
  border-radius: 1%;
  padding: 1%;
  margin-right: 1%;
  max-width: 20%;
  max-height: 30%;
  border-radius: 20px;
  transition: 300ms;
  }

  .Code_languages:hover{
  scale: 1.1;

  }

  
  .content2{
    color: white;
    background-color: #532235;
    padding: 15px;
    margin: 1%;
    border-radius: 1%;
    border-radius: 20px;
    max-width: 303mm;
    max-height: auto;
    font-family: 'Cinzel Decorative', cursive;
    font-size: clamp(14px,1.5vw,24px);
    }
    
    .content4{
    color: white;
    background-color: #532235;
    padding: 5px;
    margin: 1%;
    border-radius: 1%;
    border-radius: 20px;
    max-width: 303mm;
    max-height: auto;
    font-family: 'Cinzel Decorative', cursive;
    font-size: clamp(14px,1.5vw,24px);
    }



  .Button1 {
    border: 10px #be1958;
    background-color: #be1958;
    border-radius: 20px;
    width: auto;
    max-height: 10mm;
    min-width: 30mm;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms;
  }

  .Button1:hover{
    width: 50mm;
    font-size: 40px;
    border-radius: 40px;
  }

  .Button2 {
    position: absolute;
    border: 20px #001E60;
    background-color: #001E60;
    border-radius: 20px;
    border-width: 20px;
    margin-top: 1%;
    margin-left: 1%;
    width: auto;
    font-size: 20px;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 1%;
    
  }

  .Button3 {
    border: 20px #92204c;
    background-color: #92204c;
    border-radius: 20px;
    max-height: 10mm;
    width: 30mm;
    min-width: 30mm;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms;
  }

  .Button3:hover{
    width: 50mm;
    font-size: 40px;
    border-radius: 40px;
  }

  .Button4 {
    border: 20px #be1958;
    background-color: #be1958;
    border-radius: 20px;
    max-height: 10mm;
    width: 30mm;
    min-width: 30mm;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms;
  }

  .Button4:hover{
    width: 50mm;
    font-size: 40px;
    border-radius: 40px;
  }

  .CommunityALI{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh; 
  background: #0096C9;
  }

  .content3{
    color: white;
    background-color: #001E60;
    padding: 1%;
    width: 250mm;
    border-radius: 20px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: x-large;
    
    }